/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "TheMixSemiBold";
}
  
img {
    width: 100%;
    height: auto;
}

h1 {
    padding: 5% 15% 11% 15%;
    text-align: center;
    font-size: 40px;
    color: rgb(250, 249, 249);
    font-weight: bold;
}

/* Settind the sections titles h2 */ 
.titles {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.titles1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(250, 249, 249);
}

/* Hero */

.top-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    padding: 1vw 2vw;
}

.logo1 {
    width : 5vw;
}
  
.links {
    position: relative;
    list-style: none;
    display: flex;
    justify-content: baseline;
    font-size: 100%;
}
  
.links > li {
    position: relative;
    font-weight: bold;
    font-size: 90%;
    margin-right: 3vh;
    color: white;
    cursor: pointer;
}

.links > li:last-child {
    margin-right: 0px;
}
  
.hero {
    background-image: url("/images/pic/slide5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 100%;
}
  
.hero-content {
    text-align: center;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items:center;
}

.arrow > img {
    width: 100px;
}

/* BDD FOUNDATIONS*/
.foundations {
    background-color: rgb(229, 229, 235);
    position: relative;
    width : 100%;
    height :100%;
}

.solidfoundations {
    position: relative;
    display: flex;
    justify-content:space-between;
    align-items: stretch;
    margin: 2% 0%;
    text-align: center; 
}

.BDDfoundations { 
    position: relative;
    padding: 1vw;
    background-color: white; 
    margin-right: 2%; 
    margin-top: 1%;
    border-radius: 6px;
    box-shadow: 5px;
    font-family: "Britannic Bold";
    width : 300px;
}

.last {
    margin-right: 0%;
}

.foundation-image {
    position: relative;
    height: 80px;
    width: auto;
    margin-top: 1vw;
}

.subtitle {
    position: relative;
    font-size: 15px;
    margin-bottom: 1vw;
    margin-top: 1vw;
    font-weight:bold;
}

.first-letter {
    font-size: 24px;
}

.description {
    position: relative;
    color: grey;
    word-spacing: 2vh;
    margin-top: 1vw;
    padding : 0 2vw ;
    font-size: 15px;
    margin-bottom: 5%;
}
/* Explore section */
.explore {
    position: relative;
    height : 100% ;
}

.explore-background {
    background-image: url("/images/pic/parallax-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 100%;
    padding: 3vw 15vw 5vw 15vw;
}
 .video {
    position: relative;
    height: 35vw;
    display: flex;
    justify-content: 
    center;
    align-items: center;
    margin-top: 5vh;
    align-self: center;
 }

/* Hub section8*/
.background {
    background-image: url("/images/pic/parallax-light.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 4vw 4vw;
}

.blocks {
    padding: 2vw 0vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.section {
    margin-top: 4%;
    text-align: center;
    width : 20% ;
}

.hub-icon {
    height : 80px;
    width: auto;
}

.numbers1 {
    margin-top: 1vw;
    color: transparent;
    font-size: 35px;
    font-weight: bold;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgba(0, 128, 0, 0.529);
}

.numbers2 {
    margin-top: 1vw;
    color: transparent;
    font-size: 35px;
    font-weight: bold;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgba(191, 44, 120, 0.685);
}

.numbers3 {
    margin-top: 1vw;
    color: transparent;
    font-size: 35px;
    font-weight: bold;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgba(0, 0, 255, 0.697);
}

.numbers4 {
    margin-top: 1vw;
    color: transparent;
    font-size: 35px;
    font-weight: bold;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgba(12, 150, 12, 0.818);
}

.sub {
    text-align: center;
    margin-top: 2vw;
    font-size: 15px;
    font-weight: bold;
    color: rgb(38, 37, 37);
}

/* Join us section*/
.join-section {
    position: relative;
    padding: 4% 1% 3% 0%;
}

.join-parts {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 4%;
}

.join-blocks {
    position: relative;
    margin-right: 2vh;
}

.last-item {
    margin-right: 0%;
}

.block-section {
    position: relative;
    width : 200px;
    margin-bottom: 6vh;
    background-image: url(/images/pic/bg-icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;    
    border-radius: 10px;
    padding: 1vw 3vw;
    box-shadow: 2px 2px 4px #838282;;
}

.join-image {
    position: relative;
    height: 330px;
    width: auto;
}

.join-title {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 4%;
}

.join-blocks > ul {
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
}

.lists2 > li::before { 
    content: "";
    border-color: transparent rgba(78, 71, 179, 0.493);
    border-style: groove;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

.join-blocks >li { 
    margin-top: 10%;
    font-size: 17px;
    margin-bottom: 10%;
    word-spacing: 2vh;
}

.join-footer {
    position: relative;
}

.join-footer1 {
    position: relative;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    color: rgb(92, 88, 88);
}

.join-footer2 {
    display: flex;
    align-items: center;
    margin-top: 1%;
    justify-content: right;
    position: relative;
}

.join-apps > img {
    position: relative;
    height: 40px;
    padding: 0% 0vw 0vw 2vw;
}

/* Trending section */
.trending-container { 
    position: relative;
    background-image: url("/images/pic/bg-icon-empty.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(224, 224, 224, 0.671);
    width: 100%;
}

.trending-flex {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding: 2vw 1vw ;
}

.trending-block{
    position: relative;
    margin-bottom: 4vh;
    width: 350px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px;
    
}

.trending-block > img {
    width : 350px;
    height: auto;
}

.trending-block > h3 {
    font-weight: bold;
    font-size: 18px;
    padding: 2vw ;
    height : 110px;
}

.trending-block > p {
    font-size: 15px;
    padding: 1vw 2vw 2vw 2vw;
}

.visit {
    width : 200px !important;
} 

.visit-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Academy section*/
.academic { 
    position: relative;
    background-image: url("/images/pic/parallax-7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.academic-flex {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 3vw 5vw;
}

.academic-section {
    margin-right: 5%;
}

.last-one {
    margin-right: 0%;
}

.academic-section > img {
    height: 80px;
    width: auto;
    margin-bottom: 5%;
}

.academic-section > p {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.program-button {
    margin-top: 5%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.program {
    width: 400px !important;
}

/* Community section*/
.community {
    position: relative;
    background-image: url("/images/pic/bg-icon-reverse.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4vw 5vw 10vw 5vw;
}

.community-flex {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.community-section {
    margin-right: 5%;
    padding: 2vw ;
}

.part2 {
    width: 370px;
    height: auto;
    border-radius: 6px;
    border-style: groove;
}

.community-section > img {
    height: 80px;
    width: auto;
    border-radius: 15px;
    margin-bottom: 2vw;
}

.community-section > p {
    font-weight: bold;
}
 
/* footer section */
.footer {
    background-image: linear-gradient(rgb(29, 28, 28), rgba(68, 68, 66, 0.801));
    width: 100%;
}

.footer-container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.footer-1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 20vw;
    width : 50vw;
}

.discover > h3 {
    color: gray;
    font-weight: bold;
}

.lists1 > ul {
    list-style-type: none;
}

.lists1 > li {
    list-style-type: none;
    color: wheat;
}

.sub-contacts {
    position: relative;
    display: flex;
}

.icons {
    height : 15px; 
    margin-right: 2vw;
    width :auto;
}

.contact {
    
}

/* Utlities */
.container {
    padding: 4vw 2vw;
    width: 100%;
}

.btn {
    position: relative;;
    padding: 1vh 1vh;
    border: none;
    border-radius: 30px;
}

.btn-blue {
    background-color: rgb(54, 104, 186);
    color: #fff;
    font-size: 15px;
    width: 100%;
}

/* Media Query */

@media only screen and (max-width: 900px) {
    .mobile {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navig {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
    }
  
    .media-images > img {
      width: 100%;
    }

    .boxes {
        width : 80% ;
    }
}

@media only screen and (max-width: 1300px) {
    .tablet {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

